// --- colors

$gray-1: #faf8f5;
$gray-2: #909090;
$white: #ffffff;
$cyan: #a9d6cb;
$black: #070d15;
$dark-blue: #264065;

$color-1: #ffffff;
$color-2: #ffffff80;
$color-3: #ffffffcc;

// --- text
$link-text-hover-color: black;
$button-text-color: $white;

// --- backgrounds
$body-bg: $gray-1;

// --- link hover shadow color
$link-hover-shadow-color: rgba(228, 7, 7);
