@use 'sass:math';

@use 'abstracts' as *;
@use 'vendors' as *;
@use 'base' as *;
@use 'components' as *;
@use 'layout' as *;
@use 'pages' as *;
@use 'themes' as *;

body {
  @include defaults;
  font-family: $font-1;
  background-color: $body-bg;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  overflow-x: hidden;

  &::before {
    z-index: -1;
    position: absolute;
    content: ' ';
    display: block;
    background-color: $cyan;
    background-image: url(../img/watermark-on-background.svg);
    background-repeat: no-repeat;
    background-size: 507px;
    background-position: -127px 27px;
    width: 500px;

    right: 0px;
    top: 0px;
    bottom: 130px;
  }

  > .container {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1360px;
    width: 100%;

    > header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 15px;
      text-transform: capitalize;

      a > img {
        display: block;
      }

      > nav > ul,
      > aside > ul {
        @include ul-links;
        color: $dark-blue;
        display: flex;
        align-items: center;

        > li > a {
          &:hover {
            text-shadow: $link-hover-shadow-color 0px 0 10px;
            color: $link-hover-shadow-color;
          }
        }
      }

      > nav > ul {
        gap: 50px;

        > li:last-child > a {
          display: flex;
          gap: 10px;
          align-items: center;

          &::after {
            @include icomoon;
            content: '\e900';
            font-size: 20px;
          }
        }
      }

      > aside > ul {
        gap: 50px;
        text-align: center;

        > li:nth-of-type(1),
        > li:nth-of-type(2) {
          @include icomoon;
          font-size: 25px;
        }

        > li:nth-of-type(1) > a::after {
          content: '\e902';
        }

        > li:nth-of-type(2) > a::after {
          content: '\e903';
        }

        > li:nth-of-type(3) > a {
          text-decoration: underline;
        }

        > li:last-of-type > a {
          @include button-1;
        }
      }
    }

    > main {
      width: 100%;

      &::after {
        z-index: -2;
        position: absolute;
        content: ' ';
        display: block;
        background-color: $white;
        height: 170px;

        top: 520px;
        right: 0px;
        left: 0px;
      }

      > .hero {
        width: 100%;
        display: flex;
        z-index: -1;

        > .text {
          width: 50%;
          padding-top: 50px;
          position: relative;

          > h1 {
            font-style: normal;
            font-weight: 700;
            font-size: 45px;
            line-height: 120%;
            color: $dark-blue;
          }

          > p {
            margin-top: 20px;
            margin-bottom: 30px;

            font-size: 20px;
            line-height: 150%;

            color: $gray-2;
          }

          > .buttons {
            display: flex;
            gap: 30px;
            @include ul-links;
            align-items: center;
            text-transform: capitalize;

            > :first-child > a {
              @include button-1;
            }

            > :last-child > a {
              display: flex;
              gap: 16px;
              align-items: center;

              &::before {
                @include icomoon;
                content: '\e901';
                color: $dark-blue;
                font-size: 25px;

                border-radius: 500px;
                padding: 10px;
                display: block;
                box-shadow: 0px 24px 50px 0px #00000026;
              }

              &:hover {
                text-shadow: $link-hover-shadow-color 0px 0 10px;
                color: $link-hover-shadow-color;
                &::before {
                  @include transition;
                  color: $link-hover-shadow-color;
                  text-shadow: none;
                  box-shadow: 0px 0px 50px 0px $link-hover-shadow-color;
                }
              }
            }
          }

          > .numbers {
            border-radius: 16px;
            background: rgba(255, 255, 255, 0.8);
            backdrop-filter: blur(8px);
            margin-top: 100px;
            padding: 20px;
            display: flex;
            gap: 20px;
            width: fit-content;

            position: absolute;
            bottom: 20px;
            left: 40px;

            > article {
              width: 140px;
              display: flex;
              flex-direction: column;
              align-items: center;

              > * {
                text-align: center;
              }

              > h2 {
                margin-top: 16px;
                margin-bottom: 10px;

                font-style: normal;
                font-weight: 500;
                font-size: 30px;
                line-height: 120%;

                color: $dark-blue;
              }

              > img {
                background-color: $cyan;
                border-radius: 500px;
                padding: 11px;
                box-shadow: 0px 24px 50px rgba(0, 0, 0, 0.05);
              }
            }
          }
        }

        > .image {
          padding-top: 50px;
          position: relative;

          > figure {
            position: relative;
            width: 500px;
            translate: -100px 0px;
            z-index: -1;

            > img {
              display: block;
              width: 100%;
            }
          }

          > .quote {
            // display: none;
            font-size: 14px;
            position: absolute;
            padding: 18px;
            width: 350px;
            border-radius: 16px;
            background: rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(8px);

            > img {
              display: block;
              width: 18px;
            }

            > p {
              margin-top: 6px;
              margin-bottom: 6px;
            }

            > h4 {
              font-size: 14px;
              color: $dark-blue;
            }
          }

          > .quote-1 {
            bottom: 220px;
            right: -140px;
          }

          > .quote-2 {
            bottom: 20px;
            left: 180px;
          }
        }
      }
    }
  }
}
