@use 'mixins' as *;
@use '../base/' as *;
@use '../components/' as *;

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 1025px) {
      @content;
    }
  } @else if $point == tablet {
    @media (max-width: 1024px) and (min-width: 481px) {
      @content;
    }
  } @else if $point == mobile {
    @media (max-width: 480px) and (min-width: 0px) {
      @content;
    }
  }
}

@mixin tablet {
  body {
    > .container {
      padding-left: 24px;
      padding-right: 24px;

      > main {
        > .hero {
          @include nogap;
          flex-direction: row;
          gap: 33px;
          padding-right: 80px;
          justify-content: space-between;

          > div.text {
            width: auto;
            max-width: 460px;
            margin-top: 49px;

            > p {
              margin-top: 25px;
              margin-bottom: 24px;
            }
          }

          > div.image {
            > div.diagonal {
              display: block;
              position: absolute;
              content: ' ';
              display: block;
              background-image: $gradient-2;
              width: 217px;
              height: 689px;
              z-index: -1;
              translate: 238px -240px;
              transform: rotate(45deg);
            }

            > figure {
              position: static;
              overflow: hidden;
              height: 383px;
              width: 216px;

              background-image: $gradient-1;

              border-radius: 500px;
              display: flex;
              flex-direction: column;
              justify-content: flex-end;

              > img {
                position: static;
              }
            }

            div.numbers-1 {
              top: 59px;
              right: -47px;
            }
          }
        }

        > .cards {
          margin-bottom: 0;
          margin-top: 136px;
          display: grid;
          row-gap: 56px;
          column-gap: 11px;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(3, 1fr);

          > .title {
            padding-top: 56px;
          }

          > article {
            margin: 0px;
          }
        }
      }

      > footer {
        padding-left: 24px;
        padding-right: 24px;
        margin-top: 86px;
      }
    }
  }
}

@mixin desktop {
  @include tablet;

  body {
    $font-size: 18px;
    font-size: $font-size;

    > .container {
      > header {
        img {
          width: 111px;
        }

        > a:last-of-type {
          @include button-1($font-size);
        }
      }

      > main {
        > div.hero {
          > div.text {
            > h1 {
              font-size: 56px;
              line-height: 100%;
              letter-spacing: 0px;
            }

            > a {
              @include button-2($font-size);
            }
          }

          div.image {
            > .numbers-1,
            > .numbers-2 {
              display: none;
            }
          }
        }

        > div.cards {
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(2, 1fr);
          column-gap: 30px;

          > .title {
            > h2 {
              font-size: 32px;
              line-height: 40px;
            }
          }

          > article {
            > h3 {
              font-size: 24px;
            }
          }
        }
      }

      > footer {
        margin-top: 140px;
        img {
          width: 111px;
        }
      }
    }
  }
}
