@use '../base' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/icomoon' as *;
@use './buttons' as *;

@mixin anchor {
  color: inherit;
  text-decoration: inherit;

  &:hover {
    color: $link-text-hover-color;
    @include transition;
  }
}

@mixin ul-links {
  list-style: none;
  > li > a {
    @include anchor();
  }
}

@mixin quote {
  font-size: 14px;
  padding: 18px;

  border-radius: 16px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);

  > img {
    display: block;
    width: 18px;
  }

  > p {
    margin-top: 6px;
    margin-bottom: 6px;
  }

  > h4 {
    font-size: 14px;
    color: $dark-blue;
  }
}

@mixin text-side {
  width: 50%;
  padding-top: 50px;
  position: relative;

  > h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 120%;
    color: $dark-blue;
  }

  > p {
    margin-top: 20px;
    margin-bottom: 30px;

    font-size: 20px;
    line-height: 150%;

    color: $gray-2;
  }

  > .buttons {
    display: flex;
    gap: 30px;
    @include ul-links;
    align-items: center;
    text-transform: capitalize;

    > :first-child > a {
      @include button-1;
    }

    > :last-child > a {
      display: flex;
      gap: 16px;
      align-items: center;

      &::before {
        @include icomoon;
        content: '\e901';
        color: $dark-blue;
        font-size: 25px;

        border-radius: 500px;
        padding: 10px;
        display: block;
        box-shadow: 0px 24px 50px 0px #00000026;
      }

      &:hover {
        text-shadow: $link-hover-shadow-color 0px 0 10px;
        color: $link-hover-shadow-color;
        &::before {
          @include transition;
          color: $link-hover-shadow-color;
          text-shadow: none;
          box-shadow: 0px 0px 50px 0px $link-hover-shadow-color;
        }
      }
    }
  }

  > .numbers {
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(8px);
    margin-top: 100px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;

    position: absolute;
    bottom: 20px;
    left: 40px;

    > article {
      width: 140px;
      display: flex;
      flex-direction: column;
      align-items: center;

      > * {
        text-align: center;
      }

      > h2 {
        margin-top: 16px;
        margin-bottom: 10px;

        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 120%;

        color: $dark-blue;
      }

      > img {
        background-color: $cyan;
        border-radius: 500px;
        padding: 11px;
        box-shadow: 0px 24px 50px rgba(0, 0, 0, 0.05);
      }
    }
  }
}

@mixin menu-icon($color: black) {
  display: flex;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;

  > span {
    width: 40px;
    height: 5px;
    background-color: $color;
    border-radius: 100px;
  }
}

@mixin popup-menu($menu-icon-class: '.menu-icon') {
  z-index: 1;
  position: absolute;
  top: 50px;
  right: 0px;
  display: none;

  &:hover {
    display: flex;
  }

  &:has(+ #{$menu-icon-class}:hover) {
    display: flex;
  }
}
